<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheets" href="home.scss">
</head>

<header>
  <div class="header-logo">
    <a href="/home">My Favorite Artist</a>
  </div>
  <ul class="header-menus">
    <li><a href="/about">RADWIMPSとは</a></li>
    <li><a href="/member">Member</a></li>
    <li><a href="/history">History</a></li>
    <li><a href="/representative">Representative</a></li>
  </ul>
</header>

<body>
  <div class="main top-main">
    <div class="top-message">
      <p>2001年	バンド結成
2002年

2月	横浜にて初ライブ
8月	YHMF(YOKOHAMA HIGH SCHOOL MUSIC FESTIVAL)でグランプリ受賞
2003年

7月1日	1stアルバム「RADWIMPS」
2004年

7月22日	シングル「祈跡」
7月～9月	全国13箇所でツアー
2005年

3月8日	2ndアルバム「RADWIMPS 2 ～発展途上～」
3月～9月	全国ツアー「RADWIMPSはるなっツアー」
5月25日	シングル「へっくしゅん / 愛し」
9月3日	横浜BLITZにてツアーファイナル
11月23日	シングル「25ｺ目の染色体」で東芝EMIよりメジャーデビュー
2006年

1月18日	シングル「イーディーピー ～飛んで火に入る夏の君～」
2月15日	3rdアルバム「RADWIMPS 3 ～無人島に持っていき忘れた一枚～」
3月～4月	全国ツアー「RADWIMPSと行く無人島ツアー 2500円？ ドリンク代は別途頂きます。」
5月17日	シングル「ふたりごと」
7月26日	シングル「有心論」
9月2～3日	ライブ「セプテンバーにぃさん」(横浜BLITZ)
11月8日	シングル「セツナレンサ」
12月6日	4thアルバム「RADWIMPS 4 ～おかずのごはん～」
12月25～
29日	ツアー「ソナタと行く冬のツアー」
2007年

2月7日	ミュージッククリップ集「RADWIMPS 4.5」
3月～4月	全国ツアー「RADWIMPS TOUR 2007 “春巻き”」
7月11日	ライブDVD「生春巻き」
8月30日	ライブ「セプテンバーまだじゃん。」(横浜アリーナ)
2008年

1月23日	シングル「オーダーメイド」
7月31日	ライブ「RADWIMPS LIVE 2008 オーダーメイドライブ」(沖縄ナムラホール)
2009年

3月11日	5thアルバム「アルトコロニーの定理」
4月～6月	全国ツアー「RADWIMPS イルトコロニー TOUR 09」
2010年

6月30日	シングル「携帯電話」「マニフェスト」同時発売
2011年

1月12日	シングル「DADA」
2月9日	シングル「狭心症」
3月9日	6thアルバム「絶体絶命」
4月～8月	全国ツアー「絶体延命ツアー」
2012年

1月11日	Blu-ray&DVD「絶体延命」
8月1日	シングル「シュプレヒコール」
2013年

3月27日	シングル「ドリーマーズ・ハイ」
4月17～
18日	ライブ「RADWIMPS LIVE 2013 春ウララレミドソ」(横浜アリーナ)
9月6日	ライブ「RADWIMPS LIVE＠YOKOHAMA BLITZ」(横浜BLITZ)
9月15日	野外ライブ「青とメメメ」(宮城県・国営みちのく杜の湖畔公園)
10月16日	シングル「五月の蝿 / ラストバージン」
12月11日	7thアルバム「×と○と罪と」
2014年

2月～7月	全国ツアー「RADWIMPS GRAND PRIX 2014 実況生中継 (会心の一撃編 / パーフェクトドリーマーズ編)」
12月3日	Blu-ray&DVD「RADWIMPS Live&Document 2014『×と○と君と』」
2015年

6月	野田洋次郎主演映画「トイレのピエタ」公開
6月10日	シングル「ピクニック」
9月16日	Blu-ray&DVD「青とメメメ」
9月	ドラム山口智史が持病の悪化により休養に入る
10月	海外ツアー「RADWIMPS 2015 Asia-Europa Live Tour」
11月	対バンツアー「10th ANNIVERSARY LIVE TOUR RADWIMPSの胎盤」
11月25日	シングル「記号として / ‘I’ Novel」
12月23日	ライブ「10th ANNIVERSARY LIVE TOUR FINAL RADWIMPSのはじまりはじまり」(幕張メッセ)
同日	アナログ盤「記号として / ‘I’ Novel」
2016年

3月11日	ドキュメント「RADWIMPSのHESONOO Documentary Film」公開
8月	長編アニメーション映画「君の名は。」の音楽全般を担当
8月24日	アルバム「君の名は。」
11月23日	アルバム「人間開花」
2017年

1月18日	Blu-ray&DVD「RADWIMPSのHESONOO Documentary Film」
2月22日	シングル「君の名は。English edition」
同日	アナログ盤「君の名は。」「人間開花」
2月～5月	全国ツアー「Human Bloom Tour 2017」
3月10日	US盤「Your name. (deluxe edition / Original Motion Picture Sound Track)」
5月10日	シングル「サイハテアイニ / 洗脳」
6月～7月	海外ツアー「RADWIMPS 2017 Asia Live Tour」</P>
    </div>
</body>
</html>
