<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheets" href="home.scss">
</head>

<header>
  <div class="header-logo">
    <a href="/home">My Favorite Artist</a>
  </div>
  <ul class="header-menus">
    <li><a href="/about">RADWIMPSとは</a></li>
    <li><a href="/member">Member</a></li>
    <li><a href="/history">History</a></li>
    <li><a href="/representative">Representative</a></li>
  </ul>
</header>

</html>
